body {
    background-color: #eeeee4;
}

#root {    
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

a {
    text-decoration: none;
}

.App {
    min-height: 100vh;
    width: 150vh;

    box-shadow: #999993 0px 7px 30px 0px;
    background-color: white;
    border-radius: 20px;
}

/* Header */

.Header {
    display: grid;
    grid-template-columns: repeat(3, minmax(350px, auto));
    align-items: center;

    height: 150px;

    border-bottom: 10px solid #eeeee4;
    border-radius: 20px 20px 0 0;
}

.Header  a {
    margin: 50px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;

    background-color: #D2D2CB;
    color: white;
    border-radius: 20px;
}

.Header a:hover {
    background-color:#979794;
}

.Header .leftChild {
    text-align: start;
}
.Header .centerChild {
    text-align: center;
}
.Header .rightChild {
    text-align: end;
}
/* Home */

.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Home h1 {
    margin: 150px;
    color: #999993;
}

.Home .goto_create {
    padding: 40px;
    padding-left: 80px;
    padding-right: 80px;

    font-size: x-large;
    font-weight: bold;
    color: white;
    background-color: #D2D2CB;
    border-radius: 20px;
}

.Home .goto_create:hover {
    background-color:#979794;
}

/* New  */

.New {
    text-align: center;
}

.New h2 {
    color:#999993;
    padding: 50px;
    margin: 100px;
    margin-bottom: 10px;
}

.New input, select {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

    width: 1006px;
    height: 80px;
    border: none;
    border-radius: 20px;
    background-color: #eeeee4;

    text-align: center;
    font-size: x-large;
}

.New button {
    padding: 30px;
    padding-left: 70px;
    padding-right: 70px;

    border: none;
    border-radius: 20px;
    background-color: #D2D2CB;
    color: white;
    font-size: x-large;

    cursor: pointer;
}

.New button:hover {
    background-color:#979794;
}

/* Create  */

.Create {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center;
}

.Create aside {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.Create h2 {
    margin-top: 100px;
    margin-bottom: 30px;
    
    color:#999993;
    padding: 10px;
}

.Create textarea {
    margin-bottom: 50px;
    padding: 20px;

    width: 900px;
    height: 500px;

    border: none;
    border-radius: 20px;
    background-color: #eeeee4;
    font-size: x-large;
}

.Create article div button {
    padding: 30px;
    padding-left: 70px;
    padding-right: 70px;

    border: none;
    border-radius: 20px;
    background-color: #D2D2CB;
    color: white;
    font-size: x-large;
    font-weight: bold;

    cursor: pointer;
}

.Create article div button:hover {
    background-color:#979794;
}

.Create aside {
    padding-left: 50px;
    padding-right: 50px;
}

.AllColor button {
    border: none;
    background-color: white;
}

.Color {
    padding: 50px;
    margin: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.ColorSelected {
    padding: 47px;
    margin: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    border: 3px solid #D2D2CB;
}

.Preview {
    display: grid;
    place-items: center;
    word-wrap: break-word;
}

/* MyCard */

.MyCard {
    margin: 50px;
    margin-top: 50px;
    padding: 20px;
    
    border-radius: 20px;
}

.MyCard > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 20vw));
    grid-auto-rows: minmax(20vh, auto);
    gap: 3em;
    justify-content: center;
}

.MyCard h2 {
    color: #62625F;
    text-align: center;
    margin-bottom: 50px;
}

.MyCard button {
    background-color: white;
    border: 0;
    outline: 0;

    cursor: pointer;
}

.MyCard button:hover {
    opacity: 0.7;
}

/* CardList */

.AllCard {
    margin-left: 10px;
}

.CardList {
    padding: 30px;
    margin-bottom: 30px;

    word-wrap: break-word;

    background-color: #eeeee4;
    color: #999993;
    border-radius: 20px;
}

.CardList > h3 {
    margin-bottom: 50px;
    padding-bottom: 30px;

    text-align: center;
    color: #62625F;
    border-bottom: 1px solid #999993;
}

/* Card */

.Card {
    display: grid;
    grid-template-rows: 0.5fr 1fr 2fr 0.5fr;
    padding: 30px;

    width: 500px;
    min-height: 10vh;
    max-height: 40vh;

    text-align: center;
    color: #999993;
    background-color: #eeeee4;
    border-radius: 20px;
}

.Card h3 {
    padding-bottom: 30px;
    border-bottom: 1px solid #999993;

    color: #62625F;
}

.Card textarea {
    width: 20vw;
    height: 10vh;
}

.Card button {
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

    border: none;
    border-radius: 20px;
    background-color: #D2D2CB;
    color: white;
    font-size: large;

    cursor: pointer;
}

/* Modal */
.Modal {
    display: flex !important;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0,0,0,0.3);
}

/* AutoList */

.AutoList {
    margin: 0 auto;

    width: 1000px;
    
    border: 3px solid #eeeee4;
    border-top: none;
    border-radius: 0 0 20px 20px;
    text-align: center;
    font-size: large;
}

.Dropdown {
    padding: 15px;
    cursor: pointer;
}

.Dropdown:hover {
    background-color: #eeeee4;
}

.CloseButton {
    padding: 10px;
}